$color-green: #48912a;
$color-green-hover: #366d20;
$color-orange: #fd9a2c;
$color-orange-hover: #fd9a2c;
$color-red: #EB5757;
$color-red-hover: #CC4C4C;
$color-blue: #56CCF2;
$color-blue-hover: #56CCF2;
$color-white: #fff;